* {
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f2ee;
}

/* header */
.header {
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 50;
  width: 100%;
  background: #121e33c4;
  font-size: 1.2rem;
  overflow: hidden;
  padding: 10px 10px;
}

.header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  color: #ce9a55;
}

.header a>img {
  border-radius: 15px;
  height: 42px;
}

@media (min-width: 640px) {
  .header a {
    font-size: 20px;
  }
}

/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: #121e33;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("./loginbk.png");
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.banner div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  .banner {
    background-repeat: repeat;
    font-size: 30px;
  }
}

.content {
  width: 100%;
  flex: 1;
  /* max-width: 1200px; */
  margin: auto;
}

input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 30px;
  /* width: 400px; */
}

input[type=text]:focus {
  border: 3px solid antiquewhite;
}

@media (min-width: 640px) {
  input[type=text] {
    width: 50%;
  }
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

select:hover,
select:focus {
  border-color: #007BFF;
  background: #fff;
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.property-grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Property Grid */
.property-grid {
  display: grid;
  width: 95%;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px;
}

@media (min-width: 640px) {
  .property-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .property-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .property-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Property Card */
.property-card {
  /* max-width: 300px; */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  transition: transform .2s;
  /* Animation */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-card:hover {
  transform: scale(1.02);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.property-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.property-info {
  padding: 16px;
}

.property-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
}

.property-price,
.property-location {
  color: #666;
  margin-top: 8px;
}

.view-details {
  text-decoration: none;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #121e33;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.view-details:hover {
  background-color: #314972;
}

.filter-btn {
  text-decoration: none;
  /* margin-top: 16px; */
  padding: 8px 16px;
  background-color: #121e33;
  color: #fff;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filter-btn:hover {
  background-color: #314972;
}

.clear-filter-btn {
  text-decoration: none;
  display: none;
  /* margin-top: 16px; */
  padding: 8px 16px;
  background-color: #b42c3c;
  color: #fff;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clear-filter-btn:hover {
  background-color: #db495a;
}

/* General Dialog Container */
.dialog-container {
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  background: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(255, 255, 255) 0%, rgb(215, 223, 252) 84%);
  padding: 24px;
  margin: 20px auto;
}

/* Title */
.dialog-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}

/* Form Styling */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* dialog Actions */
.dialog-actions {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.dialog-main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.dialog-select {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  gap: 1rem;
}

.dialog-select>label {
  width: 10%;
}

.dialog-select>select {
  width: 80%;
}

.btn-cancel,
.btn-submit {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.btn-cancel {
  text-align: center;
  display: block;
  /* width: 100%; */
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #999999;
  /* Green-500 */
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-cancel:hover {
  background-color: #4b5563;
  /* Darker Gray */
}

.btn-submit:hover {
  background-color: #0056b3;
  /* Darker Blue */
}

.footer {
  background-color: #121e33c4;
  padding: 1rem;
  text-align: center;
  color: white;
}